[submodule "submodules/rofi-network-manager"]
	path = submodules/rofi-network-manager
	url = https://github.com/P3rf/rofi-network-manager
[submodule "submodules/gruvbox-material-gtk"]
	path = submodules/gruvbox-material-gtk
	url = https://github.com/TheGreatMcPain/gruvbox-material-gtk
[submodule "submodules/polybar-wifi-ramp-icons"]
	path = submodules/polybar-wifi-ramp-icons
	url = https://github.com/isaif/polybar-wifi-ramp-icons.git
[submodule "submodules/qute-keepassxc"]
	path = submodules/qute-keepassxc
	url = https://github.com/ususdei/qute-keepassxc
