[Desktop Entry]
Name=Muck
Comment=Play this game on Steam
Exec=steam steam://rungameid/1625450
Icon=steam_icon_1625450
Terminal=false
Type=Application
Categories=Game;
