[Desktop Entry]
Name=Toram Online
Comment=Play this game on Steam
Exec=steam steam://rungameid/1827180
Icon=steam_icon_1827180
Terminal=false
Type=Application
Categories=Game;
